<template name="upcomingEvents">
	<div class="upcoming-events">

		<h2>Upcoming Events</h2>
		<p>
			Check out our <a href="https://www.facebook.com/search/top?q=calvary%20chapel%20casper" target="_blank">Facebook page</a> for more details.
		</p>
		{{! ZBEYER events should have a title and body}}
		<h3 class="event-title">
			Prayer Times
		</h3>
		<p class="event-body">
			at 5:30 pm on Wednesday and 8:30 am on Sunday. We have lots to pray for.
		</p>
		<h3 class="event-title">
			Women's Bible Study
		</h3>
		<p class="event-body">
			Tuesday 10:30 AM. Study of the book of Joel.
		</p>
		<h3 class="event-title">
			2025 Men's Conference
		</h3>
		<p class="event-body">
			June 20-22, 2025 at Calvary Chapel Casper. Pastor Ray Jaramillo and Shawn Gibson of Calvary
			<br>
			Chapel Rio Grande Valley will be this year's speakers. To sign up call Pastor Bob at 307-277-9528, or email
			me at
			bdanford82636@gmail.com. Cost will be $75.
			<br>
			Scholarships are available.
		</p>
		<h3 class="event-title">
			Remote Meeting Instructions
		</h3>
		<p class="event-body">
			Zoom is no longer working and we have moved to Free ConferenceCall.Com.
			<br>
			You can download the app to your mobile device and the Instructions for getting on are down below.
			<br>
			We are sorry for the inconvenience.
		</p>
	</div>
</template>