:root {
	--white:  #ffffff;
	--black:  #123;
	--blue:   #005E65;
	--sand:   #E5D2B8;
	--shadow: RGBA(25, 23, 20, 50%);

	/*--background: #18181d;*/
	/*--primary-color: #d0d0d0;*/
	/*--secondary-color: #f0e090;*/
	/*--accent-color: #e6bd73;*/

	/*--gold: #b79a75;*/

	/*--linkColor: #3080d0;*/
	/*--linkHoverColor: #d08050;*/
}